# Estructuras de datos

## List, tuples and sets

```
   +-------------------------------------------------------+
   |   0    1    2    3    4    5    6    7    8    9      |
   |  +----+----+----+----+----+----+----+----+----+----+  |
0  |  |    |    |    |    |    |    |    |    |    |    |  |
   |  |    |    |    |    |    |    |    |    |    |    |  |
   |  +----+----+----+----+----+----+----+----+----+-----  |
   |   0    1    2    3    4    5    6    7    8    9      |
   |  +----+----+----+----+----+----+----+----+----+----+  |
1  |  |    |    |    |    |    |    |    |    |    |    |  |
   |  |    |    |    |    |    |    |    |    |    |    |  |
   |  +----+----+----+----+----+----+----+----+----+----+  |
   |                                                       |
   +-------------------------------------------------------+
```

In [ ]:
import requests

r = requests.get(
    "https://gist.githubusercontent.com/polyrand/6a4f7e6e5bf2e68d1b91896d2fff235a/raw/0a9df3f1b9e3cef804825bd0c75b3360d69540dd/repr_list.py"
).text

with open("listrepr.py", "w") as f:
    f.write(r)

from listrepr import list_repr

def show(l):
    print(list_repr(l))

In [ ]:
milista = ["uno", 2, 3, "python", 5.2]

In [ ]:
print(milista)

['uno', 2, 3, 'python', 5.2]

In [ ]:
type(milista)

list

**Índice**

```
milista[1]
```

In [ ]:
show(milista)

 0        1        2        3        4
+--------+--------+--------+--------+--------+
|        |        |        |        |        |
|  uno   |    2   |    3   | python |  5.2   |
|        |        |        |        |        |
+--------+--------+--------+--------+--------+

In [ ]:
milista[3]

'python'

In [ ]:
# el último valor
milista[-1]

5.2

**Slice**

Es "un trozo" de una lista.

```python
milista[valor1:valor2]
```

Estaremos seleccionando desde el índice `valor1` **incluído** hasta el índice `valor2` **no incluído**.

In [ ]:
milista[0:2]

['uno', 2]

In [ ]:
milista[2:]

['uno', 2]

In [ ]:
milista_dos = [8, "nueve", False]

In [ ]:
lista_suma = milista + milista_dos

In [ ]:
lista_suma

['uno', 2, 3, 'python', 5.2, 8, 'nueve', False]

In [ ]:
show(lista_suma)

 0        1        2        3        4        5        6        7
+--------+--------+--------+--------+--------+--------+--------+--------+
|        |        |        |        |        |        |        |        |
|  uno   |    2   |    3   | python |  5.2   |    8   |  nueve |  False |
|        |        |        |        |        |        |        |        |
+--------+--------+--------+--------+--------+--------+--------+--------+

In [ ]:
lista_suma.index("nueve")

6

In [ ]:
lista_suma[6]

'nueve'

In [ ]:
lista_suma.append("valor exta")

In [ ]:
lista_suma

['uno', 2, 3, 'python', 5.2, 8, 'nueve', False, 'valor exta', 'valor exta']

In [ ]:
lista_suma.append(3)

In [ ]:
# lista_suma.index(3)

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

In [ ]:
a.append(b)

In [ ]:
a

[1, 2, 3, [4, 5, 6]]

In [ ]:
a[3]

[4, 5, 6]

In [ ]:
# a.index("cuarenta")

In [ ]:
a = [1, 2, 3]

In [ ]:
nueva = a

# para generar una copia de la lista
# nueva = a.copy()

In [ ]:
print(nueva)

[1, 2, 3]

In [ ]:
a.append(25)

In [ ]:
print(a)

[1, 2, 3, 25]

In [ ]:
print(nueva)

[1, 2, 3, 25]

In [ ]:
x = "curso de python"

In [ ]:
[x, x, x]

['curso de python', 'curso de python', 'curso de python']

In [ ]:
milista

['uno', 2, 3, 'python', 5.2]

In [ ]:
milista.append(x)

In [ ]:
milista

['uno', 2, 3, 'python', 5.2, 'curso de python']

#### Tuples

Son lo mismo que una `list` pero son inmutables. No podemos hacerle un `.append()`.

In [ ]:
mituple = (1, 2, 3, 4, "cinco", False, 23.4)

In [ ]:
mituple

(1, 2, 3, 4, 'cinco', False, 23.4)

In [ ]:
list(mituple)

[1, 2, 3, 4, 'cinco', False, 23.4]

Si sustituyo la variable pierdo la anterior.

In [ ]:
mituple = 2

#### Sets

Son lo mismo que una `list`. Cada valor es único. No puede haber valores repetidos. Tampoco podemos indexar un `set`. Si ejecutamos `miset[0]` nos dará un error.

In [ ]:
lista_palabras = ["hola", "python", "curso", "curso", "jola", "abecedario"]

In [ ]:
set(lista_palabras)

{'abecedario', 'curso', 'hola', 'jola', 'python'}

In [ ]:
lista_repetidos = [1, 1, 1, 2, 3, 4, 6, 7]

In [ ]:
lista_repetidos

[1, 1, 1, 2, 3, 4, 6, 7]

In [ ]:
miset = set(lista_repetidos)

In [ ]:
miset

{1, 2, 3, 4, 6, 7}

In [ ]:
miset.add(8)

In [ ]:
miset

{1, 2, 3, 4, 6, 7, 8}

In [ ]:
miset.intersection(set([6,7,8,9,10]))

{6, 7, 8}

### Membership

In [ ]:
# lista_miembros = "antonio carlos daniel david erlantz euro ivan jseus jordi miguel sebastian victor zakaria".split()

In [ ]:
lista_miembros = [
    "susana",
    "daniel",
    "david",
    "jaume",
    "carles",
    "euro",
    "ivan",
    "jesus",
    "jordi",
    "miguel",
    "sebastian",
    "victor",
]

In [ ]:
"carles" in lista_miembros

True

In [ ]:
if "ricardo" in lista_miembros:
    print("está aquí")
else:
    print("¿a donde se ha ido?")

está aquí

In [ ]:
10 in [1,2,3,4,5,6]

False

## Dictionaries

In [ ]:
midiccionario = {"ricardo": "profesor", "susana": "alumna", "numero de alumnos": 8}

In [ ]:
midiccionario

{'ricardo': 'profesor', 'susana': 'alumna', 'numero de alumnos': 8}

In [ ]:
midiccionario["numero de alumnos"]

8

In [ ]:
midiccionario.values()

dict_values(['profesor', 'alumna', 8])

In [ ]:
for llave in midiccionario.keys():
    print(llave)

ricardo
susana
numero de alumnos

In [ ]:
for item in midiccionario.items():
    print(item[0])

ricardo
susana
numero de alumnos

In [ ]:
for llave, valor in midiccionario.items():
    print("La llave es:", llave)
    print("El valor es:", valor)

La llave es: ricardo
El valor es: profesor
La llave es: susana
El valor es: alumna
La llave es: numero de alumnos
El valor es: 8

In [ ]:
significado = {"codi_gmb": "codigo de noseque"}

In [ ]:
significado["codi_gmb"]

'codigo de noseque'

In [ ]:
int("1")

1

In [ ]:
str(1)

'1'

In [ ]:
midic = {}

In [ ]:
midic["llave 1"] = "valor2"

In [ ]:
midic

{'llave 1': 'valor2'}

In [ ]:
for i in range(0, 10_000):
    midiccionario[str(i)] = "profesor"

In [ ]:
midiccionario["124"]

'profesor'

In [ ]:
midiccionario["pedro"] = "alumno"

In [ ]:
midiccionario

{'ricardo': 'profesor',
 'susana': 'alumna',
 'numero de alumnos': 8,
 'pedro': 'alumno'}

In [ ]:
from random import randint

equipos = {
    "pc1": [randint(0, 20) for _ in range(20)],
    "pc2": [randint(0, 20) for _ in range(20)],
    "pc3": [randint(0, 20) for _ in range(20)],
    "pc4": [randint(0, 20) for _ in range(20)],
}


nombres_pc = {
    "pc1": "observability",
    "pc2": "site reliability",
    "pc3": "ip management",
    "pc4": "support",
}

## Ejercicio 01

* Iterar sobre la lista de equipos.
* En cada equipo (pc), iterar sobre sus elementos y sumarlos.
    * Si un equipo suma > de 200: imprimir el nombre del pc (diccionario `nombres_pc`)

In [ ]:
### CODE

## Ejercicio 02

Con la lista `lista_miembros`.
* Añadir al final de la lista el item `"ricardo"`
* Iterar sobre esta lista:
    * Si el nombre == "ricardo": imprimir "ricardo está aquí"
    * Si el nombre no es "ricardo": imprimir print("soy un alumno:", alumno)
    
**Extra**:
* Crear una variable GLOBAL: `x = 0`
* Por cada miembro. Si el nombre del miembro contiene la letra "i", sumad +1 a la variable `x`

**Extra 2**:

* Contar el número de veces que aparece una letra dentro de una cadena de texto.
    * Opcion 1: lista vacia, iterar sobre caracteres, `.append()`, método `.count()` de una lista...
    * Opcion 2: `.count()`

In [ ]:
### CODE