Autor: Ricardo Ander-Egg Aguilar

* üñ•: https://ricardoanderegg.com/
* üê¶: https://twitter.com/ricardoanderegg
* üë®üèª‚Äçüéì: https://www.linkedin.com/in/ricardoanderegg/

## Bases de datos con sqlite3

In [31]:
import sqlite3

In [32]:
con = sqlite3.connect("test.db")

In [33]:
con.execute("create table kv (key string, value string)")

In [ ]:
cursor = con.execute("SELECT * FROM kv")

cursor.fetchall()

In [ ]:
valor1 = "rust2"
valor2 = "zig2"

con.execute("INSERT INTO kv (key) VALUES (?, '')", (valor1,)) # tuple de 1 elemento

con.execute("INSERT INTO kv VALUES (:x1, :x2)", {"x1": valor1, "x2": valor2})

cursor = con.execute("SELECT * FROM kv")

cursor.fetchall()

In [ ]:
with con as c:
    c.execute(
        "INSERT INTO kv VALUES (:x1, :x2)", {"x1": "transaction", "x2": "transaction"}
    )
    c.execute(
        "UPDATE kv SET value = :nuevo WHERE key = :llave",
        {"nuevo": "jajajajaj", "llave": "rust2"},
    )

    print(c.in_transaction)


cursor = con.execute("SELECT * FROM kv")

cursor.fetchall()

In [ ]:
con.executemany(
    "INSERT INTO kv VALUES (:x1, :x2)",
    [
        {"x1": "transaction", "x2": "transaction"},
        {"x1": "transaction3", "x2": "transaction3"},
        {"x1": "transaction4", "x2": "transaction4"},
        {"x1": "transaction5", "x2": "transaction5"},
        {"x1": "transaction6", "x2": "transaction6"},
    ],
)

In [ ]:
def insert(valor):
    con.execute("insert into kv values ('hola', ?)", (valor, ))
    con.commit()

**Atenci√≥n:**

En la funci√≥n anterior el `tuple` es: `(valor, )`, con una coma despu√©s de `valor`. Esto es para decirle a Python que quiero crear un `tuple` de un solo elemento.

In [2]:
def insert(valor):
    # otra forma de hacerlo en sqlite (usando un diccionario)
    # el par√°metro es :`nombre` en lugar del s√≠mbolo `?`
    con.execute("insert into kv values ('hola', :valor)", {"valor": valor})
    con.commit()

In [52]:
insert("jajajaj")

In [53]:
con.execute("select * from kv").fetchall()

[('hola', 'adios'),
 ('hola', 'hello'),
 ('hola', 'jajajaj'),
 ('hola', 'jajajaj')]

‚¨áÔ∏è‚¨áÔ∏è ¬°NO! ‚¨áÔ∏è‚¨áÔ∏è

In [ ]:
## NO HACER ESTO!!:¬†##

def insert(valor)

    con.execute(f"INSERT INTO kv VALUES ('hola', {valor})")
    con.commit()

## Puede dar lugar a vulnerabilidades y problemas de seguridad en el c√≥digo (injecciones de SQL).

‚¨ÜÔ∏è‚¨ÜÔ∏è ¬°NO! ‚¨ÜÔ∏è‚¨ÜÔ∏è

## Ejercicio 01

1. Obtener todas las cartas de la API.
1. Guardar la respuesta en un archivo `.json()`
1. La key `colors` contiene un value que es una lista. Filtrar las cartas que contengan `"Green"` en esa lista.
1. Generar una base de datos con SQLAlchemy para almacenar estas cartas.
1. Las columnas que debemos crear son (entre par√©ntesis est√° el nombre de la key que tienen en el diccionario):
    * nombre (`name`)
    * ** multiverse_id (`multiverseid`)  <== queda eliminado a menos que quera√≠s hacer la parte extra
    * tipo (`type`)
    * **  url_imagen (`imageUrl`) <== queda eliminado a menos que quera√≠s hacer la parte extra
    * rareza (`rarity`)
    * **Extra**: en las cartas verdes que NO tienen `multiverseid`, crearlo y darle el valor `0`
    
1. De la lista de cartas filtradas que hemos obtenido en el punto $2$, guardarlas todas en la base de datos.

**Extra üî•**

* Crear una funci√≥n que obtenga la informaci√≥n de la carta de la base de datos en base a un `id` o como quer√°is.
* En las cartas que no tengan la variable `"imageUrl"`, crearla y poner: https://picsum.photos/200/200
* Descargar la imagen de esta carta y guardarla en un archivo en el disco.
* Crear un archivo JSON que sea una lista de diccionarios con el siguiente formato:

```python
[
    {"nombre": nombre_carta, "url_imagen": url_imagen},
    {"nombre": nombre_carta, "url_imagen": url_imagen},
    {"nombre": nombre_carta, "url_imagen": url_imagen},
    .
    .
    .
]
```

Por ejemplo:

```python
req_img = requests.get(v[0]["imageUrl"])

with open("imagen.jpg", "wb") as f:
    f.write(req_img.content)
```

In [6]:
import requests
import json

In [1]:
URL = "https://raw.githubusercontent.com/polyrand/teach/master/04_databases/cartas.json"

In [ ]:
respuesta = requests.get(...)

cartas = respuesta.json()

with open("cartas.json", "w") as f:
    f.write(json.dumps(cartas))

In [ ]:
### CODE