Autor: Ricardo Ander-Egg Aguilar

* üñ•: https://ricardoanderegg.com/
* üê¶: https://twitter.com/ricardoanderegg
* üë®üèª‚Äçüéì: https://www.linkedin.com/in/ricardoanderegg/

## ORM, Bases de datos con SQLAlchemy

ORM = Object relational mapper

In [3]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

In [4]:
# creamos una base de datos SQLite directamente en la memoria RAM del ordenador
engine = create_engine("sqlite:///curso.db")

# para crearla en el disco duro. echo=True har√° que SQLAlchemy nos devuelve informaci√≥n del tipo de queries que est√° ejecutando
# engine = create_engine("sqlite:///curso.db", echo=True)

In [5]:
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [6]:
from sqlalchemy import Column, Integer, String

Creamos nuestra tabla.


El m√©todo `__repr__` indica dentro de una clase qu√© queremos que aparezca cuando hagamos `print()`.

In [5]:
class User(Base):
    __tablename__ = "users"

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    url = Column(String)

    def __repr__(self):
        return "<User(name='%s', fullname='%s', url='%s')>" % (
            self.name,
            self.fullname,
            self.url,
        )

In [6]:
Base.metadata.create_all(engine)

In [7]:
ricardo_user = User(name="ricardo", fullname="Ricardo Ander-Egg", url="ricardoanderegg.com")

In [7]:
from sqlalchemy.orm import sessionmaker

In [9]:
Session = sessionmaker(bind=engine)

In [10]:
session = Session()

In [11]:
session.add(ricardo_user)

Ahora podemos hacer queries sin escribir directamente SQL usando python, objetos, y la relaci√≥n entre estos objetos.

In [12]:
mi_usuario = session.query(User).filter_by(name="ricardo").first()

A√±adimos varios a la vez.

In [13]:
lista_users = [
    User(name="jaume", fullname="jaume go√±i", url="twitter.com/jaume"),
    User(name="carles", fullname="carls hernan", url="twitter.com/carles"),
    User(name="david", fullname="davida barnes", url="twitter.com/david"),
    User(name="jose antonio", fullname="jose antonio cuenca", url="twitter.com/jose"),
    User(name="pedro", fullname="pedro roldar", url="twitter.com/pedro"),
    
]

In [14]:
session.add_all(lista_users)

In [15]:
session.commit()

Si nos equivocamos podemos hacer un **`.rollback()`** antes de hacer commit!

In [16]:
usuario_erroneo = User(name="user erroneo", fullname="oriol mitja", url="google.com")

In [17]:
session.add(usuario_erroneo)

Podemos hacer una query

In [18]:
session.query(User).filter(User.name.in_(["Manuel", "user erroneo"])).all()

Hacemos rollback para "deshacer" la acci√≥n que hab√≠amos ejecutado con el `.add()`

In [19]:
session.rollback()

Para filtrar tenemos muchas opciones!

In [20]:
usuarios = session.query(User).filter(User.name.in_(["ricardo", "pedro"])).all()

In [21]:
usuarios[0].url = "twitter.com/ricardoanderegg"

In [22]:
u = usuarios[0]

In [23]:
session.commit()

In [24]:
for usuario in session.query(User).order_by(User.id):
    print(usuario.name, usuario.fullname, usuario.url)

ricardo Ricardo Ander-Egg twitter.com/ricardoanderegg
jaume jaume go√±i twitter.com/jaume
carles carls hernan twitter.com/carles
david davida barnes twitter.com/david
jose antonio jose antonio cuenca twitter.com/jose
pedro pedro roldar twitter.com/pedro
ricardo Ricardo Ander-Egg ricardoanderegg.com
jaume jaume go√±i twitter.com/jaume
carles carls hernan twitter.com/carles
david davida barnes twitter.com/david
jose antonio jose antonio cuenca twitter.com/jose
pedro pedro roldar twitter.com/pedro
jaume jaume serra twitter.com/jaume2
ricardo Ricardo Ander-Egg ricardoanderegg.com
jaume jaume go√±i twitter.com/jaume
carles carls hernan twitter.com/carles
david davida barnes twitter.com/david
jose antonio jose antonio cuenca twitter.com/jose
pedro pedro roldar twitter.com/pedro

In [25]:
for nombre, nombre_completo in session.query(User.name, User.fullname):
    print(nombre, nombre_completo)

ricardo Ricardo Ander-Egg
jaume jaume go√±i
carles carls hernan
david davida barnes
jose antonio jose antonio cuenca
pedro pedro roldar
ricardo Ricardo Ander-Egg
jaume jaume go√±i
carles carls hernan
david davida barnes
jose antonio jose antonio cuenca
pedro pedro roldar
jaume jaume serra
ricardo Ricardo Ander-Egg
jaume jaume go√±i
carles carls hernan
david davida barnes
jose antonio jose antonio cuenca
pedro pedro roldar

El equivalente de esto en SQL ser√≠a:

```sql
SELECT users.name AS nombre,
        users.fullname AS nombre_completo
FROM users
()
```

In [26]:
for row in session.query(User, User.name).all():
    print(row.User, row.name)

<User(name='ricardo', fullname='Ricardo Ander-Egg', url='twitter.com/ricardoanderegg')> ricardo
<User(name='jaume', fullname='jaume go√±i', url='twitter.com/jaume')> jaume
<User(name='carles', fullname='carls hernan', url='twitter.com/carles')> carles
<User(name='david', fullname='davida barnes', url='twitter.com/david')> david
<User(name='jose antonio', fullname='jose antonio cuenca', url='twitter.com/jose')> jose antonio
<User(name='pedro', fullname='pedro roldar', url='twitter.com/pedro')> pedro
<User(name='ricardo', fullname='Ricardo Ander-Egg', url='ricardoanderegg.com')> ricardo
<User(name='jaume', fullname='jaume go√±i', url='twitter.com/jaume')> jaume
<User(name='carles', fullname='carls hernan', url='twitter.com/carles')> carles
<User(name='david', fullname='davida barnes', url='twitter.com/david')> david
<User(name='jose antonio', fullname='jose antonio cuenca', url='twitter.com/jose')> jose antonio
<User(name='pedro', fullname='pedro roldar', url='twitter.com/pedro')> pedro
<User(name='jaume', fullname='jaume serra', url='twitter.com/jaume2')> jaume
<User(name='ricardo', fullname='Ricardo Ander-Egg', url='ricardoanderegg.com')> ricardo
<User(name='jaume', fullname='jaume go√±i', url='twitter.com/jaume')> jaume
<User(name='carles', fullname='carls hernan', url='twitter.com/carles')> carles
<User(name='david', fullname='davida barnes', url='twitter.com/david')> david
<User(name='jose antonio', fullname='jose antonio cuenca', url='twitter.com/jose')> jose antonio
<User(name='pedro', fullname='pedro roldar', url='twitter.com/pedro')> pedro

In [27]:
nuevo_user = User(name="jaume", fullname="jaume serra", url="twitter.com/jaume2")

In [28]:
session.add(nuevo_user)

In [29]:
session.commit()

In [30]:
for user in (
    session.query(User)
    .filter(User.name == "jaume")
    .filter(User.fullname == "jaume go√±i")
):
    print(user)

<User(name='jaume', fullname='jaume go√±i', url='twitter.com/jaume')>
<User(name='jaume', fullname='jaume go√±i', url='twitter.com/jaume')>
<User(name='jaume', fullname='jaume go√±i', url='twitter.com/jaume')>

In [31]:
nombres_filtro = ["carles", "jaume"]

In [32]:
session.query(User).filter(User.name.in_(nombres_filtro))

In [33]:
import requests
import sqlalchemy

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

from sqlalchemy.orm import sessionmaker

In [34]:
class Lenguajes(Base):
    
    __tablename__ = "lenguajes"
    
    id = Column(Integer, primary_key=True)
    name = Column(String, nullable=False)
    year = Column(Integer)

In [35]:
Base.metadata.create_all(engine)

In [36]:
python = Lenguajes(name="python", year=1989)

In [37]:
session.add(python)

In [38]:
session.commit()

In [40]:
session.query(User).all()

[<User(name='ricardo', fullname='Ricardo Ander-Egg', url='twitter.com/ricardoanderegg')>,
 <User(name='jaume', fullname='jaume go√±i', url='twitter.com/jaume')>,
 <User(name='carles', fullname='carls hernan', url='twitter.com/carles')>,
 <User(name='david', fullname='davida barnes', url='twitter.com/david')>,
 <User(name='jose antonio', fullname='jose antonio cuenca', url='twitter.com/jose')>,
 <User(name='pedro', fullname='pedro roldar', url='twitter.com/pedro')>,
 <User(name='ricardo', fullname='Ricardo Ander-Egg', url='ricardoanderegg.com')>,
 <User(name='jaume', fullname='jaume go√±i', url='twitter.com/jaume')>,
 <User(name='carles', fullname='carls hernan', url='twitter.com/carles')>,
 <User(name='david', fullname='davida barnes', url='twitter.com/david')>,
 <User(name='jose antonio', fullname='jose antonio cuenca', url='twitter.com/jose')>,
 <User(name='pedro', fullname='pedro roldar', url='twitter.com/pedro')>,
 <User(name='jaume', fullname='jaume serra', url='twitter.com/jaume2')>,
 <User(name='ricardo', fullname='Ricardo Ander-Egg', url='ricardoanderegg.com')>,
 <User(name='jaume', fullname='jaume go√±i', url='twitter.com/jaume')>,
 <User(name='carles', fullname='carls hernan', url='twitter.com/carles')>,
 <User(name='david', fullname='davida barnes', url='twitter.com/david')>,
 <User(name='jose antonio', fullname='jose antonio cuenca', url='twitter.com/jose')>,
 <User(name='pedro', fullname='pedro roldar', url='twitter.com/pedro')>,
 <User(name='jaume', fullname='jaume serra', url='twitter.com/jaume2')>]

In [ ]:
try:
    session.add(......)
except Exception:
    session.rollback()
    raise

## Ejercicio 01

1. Obtener todas las cartas de la API.
1. La key `colors` contiene un value que es una lista. Filtrar las cartas que contengan `"Green"` en esa lista.
1. Generar una base de datos con SQLAlchemy para almacenar estas cartas.
1. Las columnas que debemos crear son (entre par√©ntesis est√° el nombre de la key que tienen en el diccionario):
    * nombre (`name`)
    * ** multiverse_id (`multiverseid`)  <== queda eliminado a menos que quera√≠s hacer la parte extra
    * url_imagen (`imageUrl`) || tipo (`type`)
    * rareza (`rarity`)
    * **Extra**: en las cartas verdes que NO tienen `multiverseid`, crearlo y darle el valor `0`
    
1. De la lista de cartas filtradas que hemos obtenido en el punto $2$, guardarlas todas en la base de datos.

**Extra üî•**

* Crear una funci√≥n que obtenga la informaci√≥n de la carta de la base de datos en base a un `id` o como quer√°is.
* En las cartas que no tengan la variable `"imageUrl"`, crearla y poner: http://placegoat.com/200/200
* Descargar la imagen de esta carta (o de la cabra üòÇ) y guardarla en un archivo en el disco.
* Crear un archivo JSON que sea una lista de diccionarios con el siguiente formato:

```python
[
    {"nombre": nombre_carta, "url_imagen": url_imagen},
    {"nombre": nombre_carta, "url_imagen": url_imagen},
    {"nombre": nombre_carta, "url_imagen": url_imagen},
    .
    .
    .
]
```

Por ejemplo:

```python
req_img = requests.get(v[0]["imageUrl"])

with open("imagen.jpg", "wb") as f:
    f.write(req_img.content)
```

In [5]:
import json

with open("cartas.json", "w") as f:
    f.write(json.dumps(cartas))

In [ ]:
### CODE