# La vida del CSV ðŸ“œ

### Leer:

https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html

In [ ]:
import pandas as pd
import json
import numpy as np

In [ ]:
import requests

r = requests.get("https://raw.githubusercontent.com/polyrand/teach/master/archivos/breweries_us.csv")

with open("breweries_us.csv", "w", encoding="utf-8") as f:
    f.write(r.text)

In [ ]:
brew = pd.read_csv("breweries_us.csv", encoding="utf-8")

In [ ]:
brew.head(5)

In [ ]:
n_filas = brew.shape[0]

In [ ]:
from string import ascii_lowercase
import random

def random_string():
    
    return "".join([random.choice(ascii_lowercase) for _ in range(random.randint(10,15))])

## Ejercicio 1

* Crear columna con el nombre `texto_aleatorio`.
* Aplicar 2 mÃ©todos sobre esta columna:
    * Convertirla en mayÃºsuclas
    * Reemplazar "A" por "_"
    
```python
df[] = ...
df[].str. ...
```

In [ ]:
brew["texto_aleatorio"] = [random_string() for _ in range(brew.shape[0])]

brew["texto_aleatorio"] = brew["texto_aleatorio"].str.upper().str.replace("A", "_")

brew.head(5)

In [ ]:
brew.query("state_breweries > 150")  # es lo mismo que: brew[brew["state_breweries"] > 150]

## Ejercicio 2

Buscar las destilerias donde

* La direcciÃ³n (`address`) contenga "plaza"
* La pÃ¡gina (`website`) web contenga "com"
* Haya > de 100 destilerÃ­as en ese estado (`state_breweries`)

In [ ]:
df1 = brew[(brew["address"].str.lower().str.contains("plaza")) &
     (brew["website"].str.lower().str.contains("com")) &
     (brew["state_breweries"] > 100)]


df1.head()

In [65]:
df["type"].value_counts(normalize=True)

Brewpub         0.75
Microbrewery    0.25
Name: type, dtype: float64

In [66]:
brew.loc[1464]

brewery_name                                  Defiant Brewing Co.
type                                                 Microbrewery
address            6 E Dexter Plaza, Pearl River, New York, 10965
website                            http://www.defiantbrewing.com/
state                                                    new-york
state_breweries                                               107
texto_aleatorio                                      KMN_ZSQPCYLK
random                                             nlkjjszcqnychp
Name: 1464, dtype: object

In [67]:
brew.loc[brew["state_breweries"] > 100, ["address","state"]]

                                                address       state
0              PO Box 4653, Stockton, California, 95204  california
1            157 Adams St., Stockton, California, 95204  california
2          1950 W Freemont, Stockton, California, 95203  california
3            102 S. State St., Ukiah, California, 95482  california
4     13011 Newport Ave. #100, Tustin, California, 9...  california
...                                                 ...         ...
2308  14655 Woodinville/Redmond Rd NE, Woodinville, ...  washington
2309         1015 Lee Blvd, Richland, Washington, 99352  washington
2310   320 Commercial St., Anacortes, Washington, 98221  washington
2311  PO Box 2320/821 14th Ave, Oroville, Washington...  washington
2312  3207 57th St Ct NW, Gig Harbor, Washington, 98335  washington

[987 rows x 2 columns]

In [68]:
import json

In [74]:
json.loads(brew.head(5).to_json(orient="records"))

[{'brewery_name': 'Valley Brewing Co.',
  'type': 'Brewpub',
  'address': 'PO Box 4653, Stockton, California, 95204',
  'website': 'http://www.valleybrew.com/',
  'state': 'california',
  'state_breweries': 284,
  'texto_aleatorio': 'OQQFFJQXSFJ',
  'random': 'zzvzopteogjej'},
 {'brewery_name': 'Valley Brewing Co.',
  'type': 'Brewpub',
  'address': '157 Adams St., Stockton, California, 95204',
  'website': 'http://www.valleybrew.com/',
  'state': 'california',
  'state_breweries': 284,
  'texto_aleatorio': 'G_HZDCTPLCHD',
  'random': 'bkfsjoiwimz'},
 {'brewery_name': 'Valley Brewing Co',
  'type': 'Microbrewery',
  'address': '1950 W Freemont, Stockton, California, 95203',
  'website': 'http://www.valleybrew.com/',
  'state': 'california',
  'state_breweries': 284,
  'texto_aleatorio': 'UCYXNWQFZWT',
  'random': 'zgmjcjxspvfnu'},
 {'brewery_name': 'Ukiah Brewing Company',
  'type': 'Brewpub',
  'address': '102 S. State St., Ukiah, California, 95482',
  'website': 'http://www.ukiahbrewingco.com/',
  'state': 'california',
  'state_breweries': 284,
  'texto_aleatorio': 'MJZNQNLMQUL',
  'random': 'fakrltwbgge'},
 {'brewery_name': 'Tustin Brewing Co.',
  'type': 'Brewpub',
  'address': '13011 Newport Ave. #100, Tustin, California, 92780',
  'website': 'http://www.tustinbrewery.com/',
  'state': 'california',
  'state_breweries': 284,
  'texto_aleatorio': 'ESVFNQENDIOIZ',
  'random': 'idmwwdysouhtb'}]

In [ ]:
brew.head(2)

In [ ]:
mijson = json.loads(brew.head(5).to_json(orient="index"))

In [ ]:
for e in mijson:
    print(e)
    break

In [ ]:
# [mijson[elemento] for elemento in mijson if mijson[elemento]["state_breweries"] > 200]

In [ ]:
# json.loads(brew.to_json(orient="index"))

In [ ]:
# so example: https://www.google.com/search?client=firefox-b-d&q=pandas+string+column+in
brew[brew["address"].str.lower().str.contains("plaza")]

Otros:
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.json.json_normalize.html
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html

In [ ]:
import numpy as np

In [ ]:
url_base = 'https://raw.githubusercontent.com/cmrivers/ebola/master/guinea_data/'

In [ ]:
pd.read_csv(url_base + "2014-09-02.csv").columns

In [ ]:
pd.read_csv("https://raw.githubusercontent.com/cmrivers/ebola/master/guinea_data/2014-09-02.csv").head(2)

In [ ]:
import pandas as pd

airport = pd.read_csv("https://query.data.world/s/y5tgknegiinkp55b5s2kruvmmvnu62", parse_dates=["Month"])

In [ ]:
airport.head(2)

In [ ]:
# airport.dtypes

In [ ]:
airport.head(2)

* Filtrar el dataframe y seleccionar solo donde el aÃ±o sea `> 2015`.

In [ ]:
airport.query("Month.dt.year > 2015")

In [ ]:
airport.loc[
    airport["Month"].dt.year > 2015, ["International Enplaned Passengers: Revenue"]
]

In [ ]:
airport[airport["Month"].dt.year > 2015]["International Enplaned Passengers: Revenue"]

In [ ]:
airport["International Enplaned Passengers: Revenue"]

In [ ]:
airport[airport["Month"].dt.year > 2015]

In [ ]:
airport["aÃ±o"] = airport["Month"].dt.year

Para eliminar columnas:

In [ ]:
airport.drop(columns=["aÃ±o", "Domestic Enplaned Passengers: Revenue"], inplace=True)

In [ ]:
airport["aÃ±o"] = airport["Month"].dt.year
airport["mes"] = airport["Month"].dt.month
airport["peso_por_landing"] = airport["Weight Totals"] / airport["Landing Totals"]

Para seleccionar solo una grupo de columnas:

In [ ]:
airport_reducido = airport[["aÃ±o", "mes", "peso_por_landing"]]  # solo las columnas aÃ±o, mes, peso_por_landing

In [ ]:
airport_reducido.head(2)

crear una query para seleccionar la columna`mes`, donde `Domestic Deplaned Belly Freight` > $516322.0$
y`Domestic Enplaned Passengers: Non-Revenue` sea mayor que la media de esa columna

In [ ]:
new_df = airport.loc[
    (airport["Domestic Deplaned Belly Freight"] > 516322.0)
    & (
        airport["Domestic Enplaned Passengers: Non-Revenue"]
        > airport["Domestic Enplaned Passengers: Non-Revenue"].mean()
    ),
    "mes",
]

Para hacer que el `Index` sea una de las columnas.

In [ ]:
airport.set_index("Month", inplace=True)

## Actividad "en directo"

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv(
    "https://opendata-ajuntament.barcelona.cat/data/dataset/b4d2cc2f-67dc-481a-a7cb-1999fd0d5740/resource/f4f2abbf-09e8-42a4-9648-c26ec5e0f3be/download"
)

In [ ]:
df.rename(columns=lambda x: x.lower(), inplace=True)

In [ ]:
df.columns

## Ejercicio

Obtener un dtaframe con los restaurantes que abran entre las 18 y las 22:30. Y que tenga un telÃ©fono = `"reserves"`

AÃ±adir una columna llamada `cena` que sea `0` donde NO se cumpla la condiciÃ³n anterior y `1` donde SI se cumpla.

**Tip:**

Se pueden "anidar" condicionales:

```python
df.loc[() & () & (() & ())]
```

In [ ]:
df["telefon_tipus"] = df["telefon_tipus"].str.lower()

In [ ]:
df["telefon_tipus"].value_counts()

In [ ]:
columnas = ["horari_hores_fi", "horari_hores_inici"]

In [ ]:
for col in columnas:
    df[col] = pd.to_datetime(df[col])

In [ ]:
df1 = df[
    (df["horari_hores_inici"].dt.hour >= 18)
    & ((df["horari_hores_fi"].dt.hour <= 22) & (df["horari_hores_fi"].dt.minute <= 30))
    & (df["telefon_tipus"] == "reserves")
]

Creamos la columna con todo = `0`

In [ ]:
df["cena"] = 0

df.head(2)

Modificamos donde se cumple la condiciÃ³n. **IMPORTANTE**: usamos `.loc[]` para hacer modificaciones.

**MAL**

```python
df[
    (df["horari_hores_inici"].dt.hour >= 18)
    & ((df["horari_hores_fi"].dt.hour <= 22) & (df["horari_hores_fi"].dt.minute <= 30))
    & (df["telefon_tipus"] == "reserves"),
]["cena"] = 1
```

**BIEN**

```python
df.loc[
    (df["horari_hores_inici"].dt.hour >= 18)
    & ((df["horari_hores_fi"].dt.hour <= 22) & (df["horari_hores_fi"].dt.minute <= 30))
    & (df["telefon_tipus"] == "reserves"),
    "cena",
] = 1
```

In [ ]:
df.loc[
    (df["horari_hores_inici"].dt.hour >= 18)
    & ((df["horari_hores_fi"].dt.hour <= 22) & (df["horari_hores_fi"].dt.minute <= 30))
    & (df["telefon_tipus"] == "reserves"),
    "cena",
] = 1

# Ejercicio

* Filtrar el dataframe donde cena = 1
* Guardar este DataFrame a un csv en el disco.
    * Â¿UsarÃ­as `index=False` para guardar este dataframe en el disco sin preservar el index?

In [ ]:
# df.dtypes

In [ ]:
df["tipus_via"].value_counts()

## Ejercicio

* Crear nueva columna que contenta una URL de google maps que nos lleve al sitio.
* Las URLs de Google Maps tiene el format que aparece en la siguiente celda:

In [ ]:
df[~df["latitud"].isna()]

In [ ]:
url = "https://www.google.es/maps/place/Barcelona/@{lat},{lon},17z"

In [ ]:
def generar_url(x):

    url = "https://www.google.es/maps/place/Barcelona/@{lat},{lon},17z"

    lat = x["latitud"]
    lon = x["longitud"]

    url_final = url.format(lat=lat, lon=lon)

    return url_final

In [ ]:
df["url"] = df.apply(generar_url, axis=1)
######################             ^^^ importante el axis

Comprobamos una URL:

In [ ]:
df.iloc[0]["url"]

MÃ¡s info y fuentes:
* ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ https://pandas.pydata.org/pandas-docs/stable/ ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼
* ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ https://pandas.pydata.org/pandas-docs/stable/ ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼
* ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ https://pandas.pydata.org/pandas-docs/stable/ ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼
* ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ https://pandas.pydata.org/pandas-docs/stable/ ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼
* ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ https://pandas.pydata.org/pandas-docs/stable/ ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼
* ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ https://pandas.pydata.org/pandas-docs/stable/ ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼
* ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ https://pandas.pydata.org/pandas-docs/stable/ ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼
* ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ðŸ‘‰ðŸ¼ https://pandas.pydata.org/pandas-docs/stable/ ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼ðŸ‘ˆðŸ¼

Datos para practicas, explorar:
* https://data.world/
* https://www.kaggle.com/
* https://archive.ics.uci.edu/

Ricardo Ander-Egg Aguilar

* ðŸ–¥: https://ricardoanderegg.com/
* ðŸ¦: https://twitter.com/ricardoanderegg
* ðŸ‘¨ðŸ»â€ðŸŽ“: https://www.linkedin.com/in/ricardoanderegg/