In [1]:
import requests
import pandas as pd
import numpy as np
import json
import datetime

In [2]:
res = requests.get("https://api.bsmsa.eu/ext/api/bsm/gbfs/v2/en/station_status")

if res.status_code != 200:
    print(res.status_code)
    
    print(repr(res.content))

In [3]:
data = res.json()

In [4]:
# with open("datos_bicing.json", "w") as f:
#     f.write()

In [5]:
df = pd.DataFrame([e for e in data["data"].values()][0])

In [6]:
df

,station_id,num_bikes_available,num_bikes_available_types,num_docks_available,is_installed,is_renting,is_returning,last_reported,is_charging_station,status
0,1,27,"{'mechanical': 27, 'ebike': 0}",18,1,1,1,1604044636,True,IN_SERVICE
1,2,9,"{'mechanical': 9, 'ebike': 0}",17,1,1,1,1604044449,True,IN_SERVICE
2,3,13,"{'mechanical': 13, 'ebike': 0}",13,1,1,1,1604044589,True,IN_SERVICE
3,4,4,"{'mechanical': 4, 'ebike': 0}",16,1,1,1,1604044445,True,IN_SERVICE
4,5,17,"{'mechanical': 17, 'ebike': 0}",22,1,1,1,1604044506,True,IN_SERVICE
...,...,...,...,...,...,...,...,...,...,...
498,515,4,"{'mechanical': 4, 'ebike': 0}",19,1,1,1,1604044486,True,IN_SERVICE
499,516,12,"{'mechanical': 12, 'ebike': 0}",9,1,1,1,1604044532,True,IN_SERVICE
500,517,11,"{'mechanical': 10, 'ebike': 1}",13,1,1,1,1604044601,True,IN_SERVICE
501,518,0,"{'mechanical': 0, 'ebike': 0}",27,1,1,1,1604044466,True,IN_SERVICE
502,519,6,"{'mechanical': 0, 'ebike': 6}",18,1,1,1,1604044531,True,IN_SERVICE

In [8]:
df = pd.read_json(json.dumps(data["data"]))

In [12]:
df = df["stations"].apply(pd.Series)

In [13]:
df.columns

Index(['station_id', 'num_bikes_available', 'num_bikes_available_types',
       'num_docks_available', 'is_installed', 'is_renting', 'is_returning',
       'last_reported', 'is_charging_station', 'status'],
      dtype='object')

In [10]:
datetime.datetime.fromtimestamp(data["last_updated"]).isoformat()

'2020-10-29T13:51:11'

* Crear funcion para filtrar 1 sola estacion y saber si hay bicis disponibles y cuando fue la ultima actualizacion.
* Crear funciÃ³n para saber cuales son las estaciones mÃ¡s cercanas a un ID de estaciÃ³n (para esto harÃ­a falta usar otra fuente de datos extra.
* Para quien le guste el machine learning: predecir cuantas bicis habrÃ¡? Incluir otros datos en la predicciÃ³n (meteorologÃ­a, nivel de contaminaciÃ³n, etc.)?