In [1]:
import pandas as pd
import json
import numpy as np

In [ ]:
import requests

r = requests.get("https://raw.githubusercontent.com/polyrand/teach/master/archivos/breweries_us.csv")

with open("breweries_us.csv", "w", encoding="utf-8") as f:
    f.write(r.text)

In [ ]:
brew = pd.read_csv("breweries_us.csv", encoding="utf-8")

In [ ]:
brew.head(5)

In [ ]:
n_filas = brew.shape[0]

In [ ]:
from string import ascii_lowercase
import random

def random_string():
    
    return "".join([random.choice(ascii_lowercase) for _ in range(random.randint(10,15))])

## Ejercicio 1

* Crear columna con el nombre `texto_aleatorio`.
* Aplicar 2 métodos sobre esta columna:
    * Convertirla en mayúsuclas
    * Reemplazar "A" por "_"
    
```python
df[] = ...
df[].str. ...
```

In [ ]:
brew["random"] = 0
random_serie = brew["random"].apply(
    lambda x: "".join(
        [random.choice(ascii_lowercase) for _ in range(random.randint(10, 15))]
    )
)
brew["random"] = random_serie

In [ ]:
brew.head(2)

In [ ]:
brew["texto_aleatorio"] = brew["texto_aleatorio"].str.

In [ ]:
brew["texto_aleatorio"] = [random_string() for _ in range(n_filas)]

In [ ]:
nueva_col = brew["texto_aleatorio"].str.upper()
nueva_col = nueva_col.str.replace("A", "_")

In [ ]:
nueva_col == brew["texto_aleatorio"].str.upper().str.replace("A", "_")

In [ ]:
brew["texto_aleatorio"] = nueva_col

In [ ]:
brew["texto_aleatorio"] = brew["texto_aleatorio"].str.upper().str.replace("A", "_")

In [ ]:
brew["texto_aleatorio"]

In [48]:
brew.head(5)

,brewery_name,type,address,website,state,state_breweries,texto_aleatorio,random
0,Valley Brewing Co.,Brewpub,"PO Box 4653, Stockton, California, 95204",http://www.valleybrew.com/,california,284,OQQFFJQXSFJ,zzvzopteogjej
1,Valley Brewing Co.,Brewpub,"157 Adams St., Stockton, California, 95204",http://www.valleybrew.com/,california,284,G_HZDCTPLCHD,bkfsjoiwimz
2,Valley Brewing Co,Microbrewery,"1950 W Freemont, Stockton, California, 95203",http://www.valleybrew.com/,california,284,UCYXNWQFZWT,zgmjcjxspvfnu
3,Ukiah Brewing Company,Brewpub,"102 S. State St., Ukiah, California, 95482",http://www.ukiahbrewingco.com/,california,284,MJZNQNLMQUL,fakrltwbgge
4,Tustin Brewing Co.,Brewpub,"13011 Newport Ave. #100, Tustin, California, 9...",http://www.tustinbrewery.com/,california,284,ESVFNQENDIOIZ,idmwwdysouhtb

## Ejercicio 2

Buscar las destilerias donde

* La dirección (`address`) contenga "plaza"
* La página (`website`) web contenga "com"
* Haya > de 100 destilerías en ese estado (`state_breweries`)

In [2]:
brew = pd.read_csv("breweries_us.csv")

In [ ]:
brew[
    (brew["address"].str.lower().str.contains("plaza"))
    & (brew["website"].str.lower().str.contains("com"))
    & (brew["state_breweries"] > 100)
]

In [ ]:
brew["texto_aleatorio"] = [random_string() for _ in range(n_filas)]

## Actividad "en directo"

In [ ]:
for col in columnas:
    df[col] = df[col].apply(pd.to_datetime)

In [ ]:
df["horari_hores_inici"] = pd.to_datetime(df["horari_hores_inici"])
df["horari_hores_fi"] = pd.to_datetime(df["horari_hores_fi"])

In [ ]:
df["horari_hores_inici"] = df["horari_hores_inici"].apply(pd.to_datetime)
df["horari_hores_fi"] = df["horari_hores_fi"].apply(pd.to_datetime)

In [ ]:
pd.set_option("display.max_rows", 25)
pd.set_option("display.max_columns", None)

In [ ]:
df["latitud"]

In [ ]:
df.filter(regex="horari_.*")

In [ ]:
df.loc[
    (df["horari_hores_inici"].dt.hour > 18)
    & ((df["horari_hores_fi"].dt.hour <= 22) & (df["horari_hores_fi"].dt.minute <= 30))
    & (df["telefon_tipus"] == "reserves"),
    "cena",
] = 1

In [ ]:
b = [i for i in df.itertuples()]

In [ ]:
def generar_url2(dataframe):
    
    lat = dataframe["latitud"]
    lon = dataframe["longitud"]
    
    return url.format(lat=lat, lon=lon)

In [ ]:
dd = df[["latitud", "longitud"]].copy()

In [ ]:
dd["url"] = list(
    map(lambda x: url.format(lat=x.latitud, lon=x.longitud), dd.itertuples())
)